registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-adobe-release/
always-auth=true
email=ybannykh@adobe.com
@spectrum:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-spectrum-release/
@react:registry=https://artifactory.corp.adobe.com:443/artifactory/api/npm/npm-react-release/
//artifactory.corp.adobe.com/artifactory/api/npm/npm-adobe-release/:_auth="eWJhbm55a2g6Y21WbWRHdHVPakF4T2pFM056Y3lPVFk0TlRrNlUyZFBVV014Vlc5bFRqRnhOa1pxV2todlpqSnBaSHB4Y0VoTg=="
